Repository jason660519/Owner-Property-Management-AI-SPA: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix --max-warnings=0", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.css": ["prettier --write"],
  "*.{html,vue,svelte}": ["prettier --write"]
}

docs: 補上 agent-team 今日與明日交接文件
  project-process/handoffs/handoff-agent-team-docs-20260422.md
  project-process/handoffs/handoff-agent-team-docs-20260423.md
Due: prettier --write

feat: LLM monitor Phase 2 — stale 指標、估算成本欄位與定期更新 cron
  apps/superadmin/app/api/cron/model-research-refresh/route.ts
  apps/superadmin/app/superadmin/dashboard/llm-monitor/LLMMonitorClient.tsx
  apps/superadmin/vercel.json
Due: eslint --fix --max-warnings=0, prettier --write

feat(superadmin): 新增 LLM 監控計價同步與物件地圖檢視
  .husky/pre-commit
  README.md
  apps/superadmin/app/api/ai-settings/model-research/generate/route.ts
  apps/superadmin/app/api/llm-monitor/sync-prices/route.ts
  apps/superadmin/app/data/roadmap.ts
  apps/superadmin/app/superadmin/dashboard/llm-monitor/actions.ts
  apps/superadmin/app/superadmin/properties/map/page.tsx
  apps/superadmin/app/superadmin/settings/people-database/page.tsx
  apps/superadmin/components/admin/properties/PropertiesList.tsx
  apps/superadmin/components/admin/properties/PropertiesMapPage.tsx
  apps/superadmin/components/admin/properties/PropertyMapView.tsx
  apps/superadmin/docs/PEOPLE_DATABASE_USER_GUIDE.md
  apps/superadmin/lib/ai/instrumented-llm-call.ts
  apps/superadmin/lib/ai/llm-price-map.ts
  docs/scripts-directory-guide.md
  package.json
  project-process/dev-logs/008-development-log-summary.md
  project-process/test-logs/test-llm-observability-console-2026-04-24.md
Due: eslint --fix --max-warnings=0, prettier --write

chore: 忽略本機技能同步產物並加入同步腳本
  .gitignore
  project-process/features/llm-monitor-litellm-refactor-dev-spec-20260425.md
  project-process/handoffs/handoff-row-008-post-merge-20260425.md
  tools/sync-skills-from-claude.sh
Due: prettier --write

fix(superadmin): 修復尋人資料庫導覽與 staging-copy 測試
  apps/superadmin/app/superadmin/settings/people-database/page.test.tsx
  apps/superadmin/app/superadmin/settings/people-database/page.tsx
  apps/superadmin/lib/people-db/__tests__/staging-copy.test.ts
  apps/superadmin/next-env.d.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(superadmin): 改善 AI 設定評測分頁與欄位
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/__tests__/adapter-evaluation.test.ts
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/adapter-config-columns.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/adapter-evaluation.ts
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/evaluations-global-columns.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

chore: 強化本機 agent runtime 啟動與備份流程
  .claude/rules/claude-code-background-shell.md
  CLAUDE.md
  apps/superadmin/app/data/roadmap.ts
  apps/superadmin/e2e/126/README.md
  apps/superadmin/unit_test/126/README.md
  docs/operational-guides/agent-local-data-and-backup.md
  docs/operational-guides/hermes-docker-update.md
  docs/operational-guides/paperclip-docker-update.md
  project-process/dev-logs/126-development-log-summary.md
  project-process/features/agent-runtime-startup-hardening-dev-spec-20260427.md
  project-process/features/tdd-agent-runtime-startup-hardening-20260427.md
  project-process/test-logs/test-agent-runtime-startup-hardening-2026-04-27.md
  start.sh
  stop.sh
  tools/hermes-runtime/docker-compose.yml
Due: eslint --fix --max-warnings=0, prettier --write

docs(roadmap): 補強 Row ID 辨識規則並修正 lastUpdated
  .claude/rules/general.md
  apps/superadmin/app/data/roadmap.ts
  docs/update-project-progress-guide.md
Due: eslint --fix --max-warnings=0, prettier --write

feat(superadmin): 新增謄本匯入工作台（Row 085）
  apps/superadmin/app/api/cron/transcript-intake-runs/route.ts
  apps/superadmin/app/api/transcript-intake/runs/[id]/__tests__/route.test.ts
  apps/superadmin/app/api/transcript-intake/runs/[id]/process/__tests__/route.test.ts
  apps/superadmin/app/api/transcript-intake/runs/[id]/process/route.ts
  apps/superadmin/app/api/transcript-intake/runs/[id]/route.ts
  apps/superadmin/app/api/transcript-intake/runs/__tests__/route.test.ts
  apps/superadmin/app/api/transcript-intake/runs/route.ts
  apps/superadmin/app/data/roadmap.ts
  apps/superadmin/components/admin/properties/TranscriptIntakeWorkbench.tsx
  apps/superadmin/components/admin/properties/TranscriptTabContent.tsx
  apps/superadmin/components/admin/properties/__tests__/TranscriptIntakeWorkbench.test.tsx
  apps/superadmin/components/prompt-management/seedDefaultPrompts.ts
  apps/superadmin/e2e/085/README.md
  apps/superadmin/lib/ai/ensure-seeded.ts
  apps/superadmin/lib/transcript-parse/__tests__/confirmed-result-to-property-details.test.ts
  apps/superadmin/lib/transcript-parse/__tests__/intake-router.samples.test.ts
  apps/superadmin/lib/transcript-parse/__tests__/intake-router.test.ts
  apps/superadmin/lib/transcript-parse/__tests__/process-transcript-intake-run.test.ts
  apps/superadmin/lib/transcript-parse/confirmed-result-to-property-details.ts
  apps/superadmin/lib/transcript-parse/intake-ai.ts
  apps/superadmin/lib/transcript-parse/intake-prompts.ts
  apps/superadmin/lib/transcript-parse/intake-router.ts
  apps/superadmin/lib/transcript-parse/intake-types.ts
  apps/superadmin/lib/transcript-parse/process-transcript-intake-run.ts
  apps/superadmin/lib/transcript-parse/transcript-pdf-probe.ts
  apps/superadmin/next-env.d.ts
  apps/superadmin/test-manifest.json
  apps/superadmin/unit_test/085/README.md
  supabase/migrations/20260427100000_create_transcript_intake_runs.sql
Due: eslint --fix --max-warnings=0, prettier --write

fix(fp-converter): 補上索引式欄位解析與 FINC 格式錯誤提示
  tools/fp-converter/convert_fp.py
  tools/fp-converter/tests/test_convert_fp.py
Due: none

chore(superadmin): 更新 Next.js 型別參考
  apps/superadmin/next-env.d.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(fp-converter): 強化 legacy FINC 欄位解析與錯誤提示
  tools/fp-converter/convert_fp.py
  tools/fp-converter/rerun_batch_2026_04_27.sh
  tools/fp-converter/tests/test_convert_fp.py
Due: none

docs(project-process): 補上 Row 085 與 fp-converter 開發紀錄
  project-process/dev-logs/085-development-log-summary.md
  project-process/dev-logs/dev-fp-converter-legacy-finc-2026-04-27.md
  project-process/features/tdd-transcript-intake-workbench-20260427.md
  project-process/features/transcript-intake-workbench-dev-spec-20260427.md
  project-process/handoffs/handoff-fp-converter-legacy-finc-20260427.md
  project-process/handoffs/handoff-fp-converter-legacy-finc-rerun-20260427.md
  project-process/handoffs/handoff-row-085-transcript-intake-workbench-20260427.md
  project-process/test-logs/test-fp-converter-legacy-finc-2026-04-27.md
  project-process/test-logs/test-transcript-intake-workbench-2026-04-27.md
Due: prettier --write

fix(superadmin): 強化 transcript 審核合併與取消流程
  apps/superadmin/components/admin/properties/TranscriptAiStageTracePanel.tsx
  apps/superadmin/components/admin/properties/__tests__/TranscriptAiStageTracePanel.test.tsx
  apps/superadmin/lib/ai/__tests__/agent-defaults.test.ts
  apps/superadmin/lib/ai/agent-defaults.ts
  apps/superadmin/lib/transcript-parse/__tests__/intake-review-merge.test.ts
  apps/superadmin/lib/transcript-parse/intake-prompts.ts
  apps/superadmin/lib/transcript-parse/intake-review-merge.ts
  apps/superadmin/lib/transcript-parse/intake-types.ts
  apps/superadmin/lib/transcript-parse/process-transcript-intake-run.ts
  apps/superadmin/lib/utils/concurrent-success-runner.test.ts
  apps/superadmin/lib/utils/concurrent-success-runner.ts
  supabase/migrations/20260428110000_replace_transcript_audit_gpt55.sql
Due: eslint --fix --max-warnings=0, prettier --write

feat(superadmin): 標準化 transcript intake AI 報告格式
  apps/superadmin/app/api/transcript-intake/runs/[id]/ai-reports/route.ts
  apps/superadmin/app/data/roadmap.ts
  apps/superadmin/components/admin/properties/TranscriptAiStageTracePanel.tsx
  apps/superadmin/components/admin/properties/__tests__/TranscriptAiStageTracePanel.test.tsx
  apps/superadmin/lib/ai/agent-defaults.ts
  apps/superadmin/lib/transcript-parse/__tests__/process-transcript-intake-run.test.ts
  apps/superadmin/lib/transcript-parse/__tests__/report-standard.test.ts
  apps/superadmin/lib/transcript-parse/intake-ai.ts
  apps/superadmin/lib/transcript-parse/intake-prompts.ts
  apps/superadmin/lib/transcript-parse/intake-types.ts
  apps/superadmin/lib/transcript-parse/parser-report.ts
  apps/superadmin/lib/transcript-parse/report-standard.ts
  apps/superadmin/lib/transcript-prompts.ts
  apps/superadmin/test-manifest.json
  apps/superadmin/unit_test/084/README.md
  project-process/dev-logs/084-development-log-summary.md
  project-process/test-logs/test-transcript-intake-workbench-2026-04-28.md
  supabase/migrations/20260429110000_standardize_transcript_ai_reports.sql
  supabase/migrations/20260429120000_replace_transcript_detection_gemini_flash.sql
Due: eslint --fix --max-warnings=0, prettier --write

chore(084): 更新進度報告與 roadmap
  apps/superadmin/app/data/roadmap.ts
  project-process/dev-logs/084-development-log-summary.md
  project-process/test-logs/test-transcript-intake-workbench-2026-04-28.md
Due: eslint --fix --max-warnings=0, prettier --write

feat(superadmin): 新增台北使用分區自動查詢與儲存
  apps/superadmin/app/data/roadmap.ts
  apps/superadmin/components/admin/properties/PropertyEditForm.tsx
  apps/superadmin/components/admin/properties/PropertyGeographicInfoTab.tsx
  apps/superadmin/components/admin/properties/TaipeiZoningAutoQuery.tsx
  apps/superadmin/components/admin/properties/TaipeiZoningManualQueryRow.tsx
  apps/superadmin/components/admin/properties/ZoningUsageTab.tsx
  apps/superadmin/components/admin/properties/__tests__/PropertyEditForm.gis-autogenerate.test.tsx
  apps/superadmin/components/admin/properties/__tests__/PropertyGeographicInfoTab.test.tsx
  apps/superadmin/components/admin/properties/__tests__/ZoningUsageTab.test.tsx
  apps/superadmin/lib/actions/cadastral-maps.ts
  apps/superadmin/lib/actions/properties.ts
  apps/superadmin/lib/actions/taipei-zoning.ts
  apps/superadmin/lib/actions/zoning-documents.ts
  apps/superadmin/lib/utils/zoning-land-parcels.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(superadmin): 新增 image-to-image 評測紀錄
  apps/superadmin/app/api/ai-settings/image-to-image-evaluation-runs/__tests__/route.test.ts
  apps/superadmin/app/api/ai-settings/image-to-image-evaluation-runs/route.ts
  apps/superadmin/app/api/ai-settings/models/test/route.ts
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/ImageToImageEvaluationDetailSheet.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/ImageToImageEvaluationPanel.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/ImageToImageFloorPlanInputCell.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/ImageToImageRawOutputCell.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/ImageToImageRenderedImageCell.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/ImageToImageRequestedEffectiveCell.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/ImageToImageRowActionsCell.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/ImageToImageShouldTestCell.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/__tests__/ImageToImageEvaluationPanel.delete.test.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/__tests__/ImageToImageEvaluationPanel.should-test.test.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/__tests__/ImageToImageEvaluationPanel.test.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/__tests__/image-to-image-row-state.test.ts
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/image-to-image-evaluation-columns.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/image-to-image-model-capabilities.ts
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/image-to-image-row-state.ts
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/image-to-image-shared-file-store.ts
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/page.tsx
  apps/superadmin/components/admin/properties/BuildingLandAreaDetailTab.tsx
  apps/superadmin/components/admin/properties/PropertyEditForm.tsx
  apps/superadmin/components/admin/properties/PropertyMediaSection.tsx
  apps/superadmin/components/admin/properties/__tests__/BuildingLandAreaDetailTab.test.tsx
  apps/superadmin/components/admin/properties/__tests__/PropertyEditForm.gis-autogenerate.test.tsx
  apps/superadmin/components/admin/properties/__tests__/PropertyMediaSection.test.tsx
  apps/superadmin/components/admin/properties/__tests__/TranscriptIntakeAreaDetailEditor.test.tsx
  apps/superadmin/components/admin/properties/transaction-comparables-pending-storage.ts
  apps/superadmin/lib/actions/transaction-comparables.ts
  apps/superadmin/lib/transcript-parse/area-detail-copy.ts
  apps/superadmin/lib/utils/real-price-comparable-source.ts
  apps/superadmin/lib/utils/real-price-comparables.ts
  supabase/migrations/20260430100000_create_image_to_image_evaluation_runs.sql
  supabase/migrations/20260501010000_add_2d_3d_image_urls_to_image_to_image_runs.sql
Due: eslint --fix --max-warnings=0, prettier --write

fix(superadmin): 改善圖生圖測試與縮圖顯示
  .claude/skills/create-tanstack-table/SKILL.md
  .claude/skills/create-tanstack-table/references/complex-cell-patterns.md
  .claude/skills/create-tanstack-table/references/troubleshooting.md
  apps/superadmin/app/api/ai-settings/models/test/route.ts
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/ImageToImageEvaluationPanel.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/ImageToImageFloorPlanInputCell.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/ImageToImageRenderedImageCell.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/image-to-image-evaluation-columns.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/image-to-image-model-capabilities.ts
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/image-to-image-row-state.ts
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/image-to-image-shared-file-store.ts
  apps/superadmin/lib/hooks/useAISettings.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(superadmin): 新增「各家 CLI 能力評測」分頁
  apps/superadmin/app/api/ai-settings/cli-eval-runs/route.ts
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/CliCapabilityEvaluationPanel.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/cli-capability-evaluation-columns.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/cli-capability-row-state.ts
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/cli-eval-tool-config.ts
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(superadmin): 修正 CliCapability 細節頁顯示啟動命令的 type error
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/CliCapabilityEvaluationPanel.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(superadmin): 新增「各家 CLI 能力評測」分頁 (#63)
  apps/superadmin/app/api/ai-settings/cli-eval-runs/route.ts
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/CliCapabilityEvaluationPanel.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/cli-capability-evaluation-columns.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/cli-capability-row-state.ts
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/cli-eval-tool-config.ts
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

chore(claude): 更新 commit/push 流程並精簡 plugins
  .claude/commands/commit-push-pr-merge-cleanup-handoff.md
  .claude/settings.json
Due: prettier --write

refactor(superadmin): 調整 People Database 工作區導覽
  apps/superadmin/app/superadmin/settings/people-database/page.test.tsx
  apps/superadmin/app/superadmin/settings/people-database/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(cli-eval): 修正全測按鈕未依 shouldTest 篩選及缺乏 loading 狀態
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/CliCapabilityEvaluationPanel.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/cli-capability-row-state.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(cli-eval): 修正全測按鈕未依 shouldTest 篩選及缺乏 loading 狀態 (#64)
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/CliCapabilityEvaluationPanel.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/cli-capability-row-state.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore(tools): 整合 CodeGraphContext MCP 至開發環境
  CLAUDE.md
  docs/operational-guides/token-saving-guide.md
  start.sh
  stop.sh
Due: prettier --write

chore(tools): 整合 CodeGraphContext MCP 至開發環境 (#65)
  CLAUDE.md
  docs/operational-guides/token-saving-guide.md
  start.sh
  stop.sh
Due: prettier --write

chore: 新增 Claude 指令與 handoff 記錄
  .claude/commands/caveman.md
  .claude/commands/diagnose.md
  .claude/commands/grill-me.md
  project-process/handoffs/handoff-cgc-integration-20260503.md
  project-process/handoffs/handoff-cli-eval-runall-fix-20260503.md
  project-process/handoffs/handoff-cli-eval-spike-20260503.md
Due: prettier --write

feat(project-progress): 將「顯示隱藏列」改為 split-button pill，改善隱藏列管理 UX
  .claude/rules/general.md
  apps/superadmin/app/data/roadmap.ts
  apps/superadmin/app/superadmin/dashboard/project-progress/components/development-table/TableToolbar.tsx
  apps/superadmin/app/superadmin/dashboard/project-progress/components/development-table/columns.tsx
  apps/superadmin/app/superadmin/dashboard/project-progress/page.tsx
  docs/update-project-progress-guide.md
Due: eslint --fix --max-warnings=0, prettier --write

feat(project-progress): 將「顯示隱藏列」改為 split-button pill，改善隱藏列管理 UX (#66)
  .claude/rules/general.md
  apps/superadmin/app/data/roadmap.ts
  apps/superadmin/app/superadmin/dashboard/project-progress/components/development-table/TableToolbar.tsx
  apps/superadmin/app/superadmin/dashboard/project-progress/components/development-table/columns.tsx
  apps/superadmin/app/superadmin/dashboard/project-progress/page.tsx
  docs/update-project-progress-guide.md
Due: eslint --fix --max-warnings=0, prettier --write

refactor(roadmap): 新增「安全與合規」分類，搬入 4 筆既有安全相關 row
  apps/superadmin/app/data/roadmap.ts
Due: eslint --fix --max-warnings=0, prettier --write

refactor(roadmap): 新增「安全與合規」分類，搬入 4 筆既有安全相關 row (#67)
  apps/superadmin/app/data/roadmap.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(superadmin): enhance CLI capability evaluation with invocation paths and row locking
  .cgcignore
  .husky/_/husky.sh
  apps/superadmin/app/api/ai-settings/cli-eval-runs/route.ts
  apps/superadmin/app/api/ai-settings/models/test/route.ts
  apps/superadmin/app/superadmin/dashboard/project-progress/components/development-table/types.ts
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/CliCapabilityEvaluationPanel.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/ImageToImageEvaluationPanel.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/ImageToImageRenderedImageCell.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/cli-capability-evaluation-columns.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/cli-capability-row-state.ts
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/cli-eval-tool-config.ts
  apps/superadmin/lib/hooks/useAISettings.ts
  project-process/handoffs/handoff-project-progress-hidden-rows-pill-20260504.md
  project-process/handoffs/handoff-roadmap-security-compliance-category-20260504.md
Due: eslint --fix --max-warnings=0, prettier --write

feat(027): 完成房東手動新增物件功能（設備清單 + Google Maps 確認）
  apps/superadmin/app/data/roadmap.ts
  apps/web/app/(dashboard)/landlord/properties/add/page.tsx
  apps/web/e2e/flows/landlord/add-property.spec.ts
  apps/web/lib/actions/properties.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(003,100,129): 完成 RBAC 刪除確認、AI 設定費用說明頁籤與 Agent Config 接線
  apps/superadmin/app/data/roadmap.ts
  apps/superadmin/app/superadmin/dashboard/iam-management/components/RolesTab.tsx
  apps/superadmin/app/superadmin/dashboard/rbac_access_control/actions.ts
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/page.tsx
  apps/superadmin/components/ai-settings/ModelPricingPanel.tsx
Due: eslint --fix --max-warnings=0, prettier --write
