Repository jason660519/Owner-Property-Management-AI-SPA: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

docs: update CLAUDE.md and environment config
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  CLAUDE.md
  FINAL_REPORT.md
  PHASE_ONE_CHECKLIST.md
  PHASE_ONE_COMPLETE.md
  PHASE_ONE_SUMMARY.md
  README.md
  docs/MCP_伺服器狀態報告.md
  docs/Project naming Rule/project-naming-and-filing-guidelines_2026-05-20.md
  docs/Project naming Rule/project-structure-documentation_2026-05-20.md
  docs/Project naming Rule/project_naming_rules.md
  docs/三階段部署與上線指南/三階段進度檢測報告.md
  docs/三階段部署與上線指南/三階段部署說明.md
  docs/三階段部署與上線指南/部署檢查清單2026-01-13-PM1808.md
  docs/三階段部署與上線指南/開發環境中的專案Hooks設定指南.md
  docs/部署與上線指南/PHASE_ONE_完成指南.md
  docs/部署與上線指南/PHASE_ONE_完成總結.md
  docs/部署與上線指南/PHASE_ONE_檢查清單.md
  docs/部署與上線指南/README.md
  docs/部署與上線指南/三階段部署說明.md
  docs/部署與上線指南/最終交付報告.md
  docs/部署與上線指南/部署檢查清單.md
  frontend/package-lock.json
  専項文件歸檔總則.md
  文件整理完成總結.md
  本專案檔案命名規則與新增文件歸檔總則.md
Due: prettier --write

chore: update env and migrations, clean up docs
  Real
  START_HERE.md
  docs/OCR開發進度+使用+測試報告/OCR儲存位置快速參考.md
  docs/OCR開發進度+使用+測試報告/OCR規劃報告.md
  docs/OCR開發進度+使用+測試報告/OCR資料儲存架構.md
  docs/三階段部署與上線指南/MCP_伺服器狀態報告.md
  docs/三階段部署與上線指南/部署檢查清單2026-01-13-PM1808.md
  docs/專案SDLC進度表報告_2026-01-14.md
  docs/專案SDLC進度表報告_2026-01-16.md
  docs/資料庫設計進度報告/restored_tables_summary.md
  docs/資料庫設計進度報告/專業詞彙對照表_資料庫版.md
  docs/資料庫設計進度報告/資料庫遷移分析報告.md
  docs/資料庫設計進度報告/資料庫遷移計劃完整報告.md
  docs/開發環境+測試環境+上線部署指南/2026-01-16_MCP_修復日誌.md
  docs/開發環境+測試環境+上線部署指南/三階段進度檢測報告.md
  docs/開發環境+測試環境+上線部署指南/三階段部署說明.md
  docs/開發環境+測試環境+上線部署指南/本專案 Claude Code 記憶體系統配置說明_2026-01-16.md
  docs/開發環境+測試環境+上線部署指南/開發環境中的專案Hooks設定指南.md
  supabase/migrations/20260116000001_add_core_business_tables.sql
  verify-mcp-servers.py
  verify-mcp-servers.sh
Due: prettier --write

chore: refine landlord docs and quickstart
  .claude/.env.example
  .claude/CLAUDE.md
  Agent
  Estate
  FR+NFR Project Management-Owner Real Estate Agent SaaS.xlsx
  QUICK_START.md
  README.md
  backend/ocr_service/README-OCR Service for Building Title Transcripts.md
  create_requirements.py
  docs/產品概述及使用場景說明/使用者場景.md
  docs/產品概述及使用場景說明/房客－預約看房須知.md
  docs/產品概述及使用場景說明/房東－房屋資料準備手冊.md
  docs/產品概述及使用場景說明/產品概述.md
  docs/資料庫設計進度報告/Supabase 在本專案中的角色與功能分析報告.md
  frontend/README.md
  requirements.md
  verify-mcp-servers.py
  verify-mcp-servers.sh
Due: prettier --write

chore: update CLAUDE config and docs
  CLAUDE.md
  README.md
  docs/ 每日開發進度追蹤與報告/SDLC開發進度表報告_2026-01-16.md
  requirements.md
  本案開發環境快速啟動指南.md
Due: prettier --write

chore(repo): remove macOS dot-underscore files and ignore ._*
  .gitignore
  resources/data/20140307郭老師特力屋資料備份/._setup_sql_server.sh
  resources/data/20140307郭老師特力屋資料備份/同行參考資料/._AI影音智能估價－１.png
  resources/data/20140307郭老師特力屋資料備份/同行參考資料/TurboTenant/001 Upgrade Page/._Upgrade Page.png
  resources/data/20140307郭老師特力屋資料備份/同行參考資料/TurboTenant/002_Dashboard Page/._DashBoard.png
  resources/data/20140307郭老師特力屋資料備份/同行參考資料/TurboTenant/003_Message Page/._Message_Renters_1.png
  resources/data/20140307郭老師特力屋資料備份/同行參考資料/TurboTenant/004_Payment Page/._Payment Page.png
  resources/data/20140307郭老師特力屋資料備份/同行參考資料/TurboTenant/005_Maintenance Page/._Maintenance Page.png
  resources/data/20140307郭老師特力屋資料備份/同行參考資料/TurboTenant/006_Lease Profiles/._Lease Profile Page.png
  resources/data/20140307郭老師特力屋資料備份/同行參考資料/TurboTenant/007_Document & Sign Page/._Document & Sign Page.png
  resources/data/20140307郭老師特力屋資料備份/同行參考資料/TurboTenant/009_Accounting Page/Insights Page/._Insights Page.png
  resources/data/20140307郭老師特力屋資料備份/同行參考資料/TurboTenant/009_Accounting Page/Insights Page/._Insights Page.textClipping
  resources/data/20140307郭老師特力屋資料備份/同行參考資料/TurboTenant/009_Accounting Page/Transaction Page/._Transaction Page.png
  resources/data/20140307郭老師特力屋資料備份/同行參考資料/TurboTenant/010_Renters Page/Add Eenter Page/._Add Renter.png
  resources/data/20140307郭老師特力屋資料備份/同行參考資料/TurboTenant/010_Renters Page/Add Eenter Page/._Add Renter_Add a new lead.png
  resources/data/20140307郭老師特力屋資料備份/同行參考資料/TurboTenant/010_Renters Page/Add Eenter Page/._Add Renter_Invite Renter to Apply.png
  resources/data/20140307郭老師特力屋資料備份/同行參考資料/TurboTenant/010_Renters Page/Applicants page/._Applicants page.png
  resources/data/20140307郭老師特力屋資料備份/同行參考資料/TurboTenant/010_Renters Page/Renters_Leads Page/._Renters_Leads Page.png
  resources/data/20140307郭老師特力屋資料備份/同行參考資料/TurboTenant/010_Renters Page/Tenants Page/._Tenants Page.png
  resources/data/20140307郭老師特力屋資料備份/同行參考資料/TurboTenant/011_Resources Page/Community page/._Community pag2.png
  resources/data/20140307郭老師特力屋資料備份/同行參考資料/TurboTenant/011_Resources Page/Community page/._Community page_1.png
  resources/data/20140307郭老師特力屋資料備份/同行參考資料/TurboTenant/011_Resources Page/Community page/._Community page_3.png
  resources/data/20140307郭老師特力屋資料備份/同行參考資料/TurboTenant/011_Resources Page/Give 25 get 25/._Help another landlord streamline their rental process.png
  resources/data/20140307郭老師特力屋資料備份/同行參考資料/TurboTenant/011_Resources Page/Need Help Page/._Need Help Page.png
  resources/data/20140307郭老師特力屋資料備份/同行參考資料/TurboTenant/011_Resources Page/Toolbox page/._Toolbox page_1.png
  resources/data/20140307郭老師特力屋資料備份/同行參考資料/TurboTenant/011_Resources Page/Toolbox page/._Toolbox page_2.png
  resources/data/20140307郭老師特力屋資料備份/同行參考資料/TurboTenant/011_Resources Page/Toolbox page/._Toolbox page_3.png
  resources/samples/房屋照片範例/物件001_精選套房/室內/._bedroom.jpg
  resources/samples/房屋照片範例/物件001_精選套房/室內/._living_room.jpg
  resources/samples/房屋照片範例/物件001_精選套房/室外/._exterior_01.jpg
  resources/samples/房屋照片範例/物件001_精選套房/室外/._exterior_02.jpg
  resources/samples/房屋照片範例/物件002_景觀豪宅/室內/._kitchen.jpg
  resources/samples/房屋照片範例/物件002_景觀豪宅/室內/._luxury_living.jpg
  resources/samples/房屋照片範例/物件002_景觀豪宅/室外/._facade.jpg
  resources/samples/房屋照片範例/物件002_景觀豪宅/室外/._garden.jpg
  resources/samples/房屋照片範例/物件003_時尚辦公室/室內/._meeting_room.jpg
  resources/samples/房屋照片範例/物件003_時尚辦公室/室內/._workspace.jpg
  resources/samples/房屋照片範例/物件003_時尚辦公室/室外/._entrance.jpg
  resources/samples/房屋照片範例/物件003_時尚辦公室/室外/._parking.jpg
Due: none

feat: unified property tables, enhanced CLAUDE.md rules and updated environment setup
  .claude/CLAUDE.md
  CLAUDE.md
  FR+NFR Project Management-Owner, Real Estate Agent SaaS.xlsx
  README.md
  docs/testing/connection_test_script_2026-01-22.js
  docs/testing/database_unification_report_2026-01-22.md
  docs/testing/開發環境測試報告_2026-01-22.md
  docs/專案架構說明/資料庫架構設計書.md
  docs/專案架構說明/資料庫選型建議.md
  docs/本專案FR+NFR設計規劃書.md
  docs/產品概述及使用場景說明/Mobile App - 使用者場景.md
  docs/資料庫設計進度報告/PostgreSQL POLICY 設計規劃書.md
  docs/資料庫設計進度報告/restored_tables_summary.md
  docs/資料庫設計進度報告/資料庫遷移分析報告.md
  docs/資料庫設計進度報告/資料庫遷移計劃完整報告.md
  setup-phase-one.sh
  supabase/migrations/20260112000000_initial_schema.sql
  supabase/migrations/20260116000000_add_property_documents.sql
  supabase/migrations/20260116000001_add_core_business_tables.sql
  supabase/migrations/20260122000000_full_schema.sql
  supabase/migrations/20260122120000_create_properties_view.sql
  supabase/migrations/20260123000000_agent_authorization_rls.sql
  supabase/migrations/README.md
  update_fr_nfr_excel.py
  本案開發環境快速啟動指南.md
Due: eslint --fix --max-warnings=0, prettier --write

[Claude] docs: update CLAUDE.md and README.md for monorepo structure
  CLAUDE.md
  README.md
Due: prettier --write

feat: 重建公司首頁 - 基於 Figma 設計規格
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/components/index.ts
  apps/web/components/layout/Footer.module.css
  apps/web/components/layout/Footer.tsx
  apps/web/components/layout/Header.module.css
  apps/web/components/layout/Header.tsx
  apps/web/components/layout/Sidebar.tsx
  apps/web/components/sections/CTA.tsx
  apps/web/components/sections/FAQ.module.css
  apps/web/components/sections/FAQ.tsx
  apps/web/components/sections/FeaturedProperties.module.css
  apps/web/components/sections/FeaturedProperties.tsx
  apps/web/components/sections/Features.tsx
  apps/web/components/sections/Footer.tsx
  apps/web/components/sections/HeroBanner.tsx
  apps/web/components/sections/HeroSection.module.css
  apps/web/components/sections/HeroSection.tsx
  apps/web/components/sections/PropertyCard.tsx
  apps/web/components/sections/Testimonials.module.css
  apps/web/components/sections/Testimonials.tsx
  apps/web/components/ui/Button.module.css
  apps/web/components/ui/Button.tsx
  apps/web/components/ui/Card.module.css
  apps/web/components/ui/Card.tsx
  apps/web/components/ui/Input.module.css
  apps/web/components/ui/Input.tsx
  docs/DESIGN_SYSTEM.md
  docs/figma-exports/about-page-desktop.png
  docs/figma-exports/contact-page-desktop.png
  docs/figma-exports/home-page-desktop.png
  docs/figma-exports/home-page-mobile.png
  docs/figma-exports/properties-page-desktop.png
  docs/figma-exports/property-details-desktop.png
  docs/figma-exports/services-page-desktop.png
Due: eslint --fix --max-warnings=0, prettier --write

fix: 修復 Supabase 認證問題
  apps/web/app/(auth)/layout.tsx
  apps/web/app/(auth)/login/page.tsx
  apps/web/app/(auth)/register/page.tsx
  apps/web/app/(dashboard)/landlord/dashboard/page.tsx
  apps/web/app/(dashboard)/landlord/layout.tsx
  apps/web/app/(dashboard)/landlord/properties/[id]/page.tsx
  apps/web/app/(dashboard)/landlord/properties/add/page.tsx
  apps/web/app/(dashboard)/landlord/properties/page.tsx
  apps/web/app/auth/callback/route.ts
  apps/web/components/sections/CTA.tsx
  apps/web/components/sections/Features.tsx
  apps/web/components/sections/Footer.tsx
  apps/web/components/sections/HeroBanner.tsx
  apps/web/components/sections/PropertyCard.tsx
  apps/web/components/ui/Button.module.css
  apps/web/components/ui/Button.tsx
  apps/web/components/ui/Icon.tsx
  apps/web/components/ui/Text.tsx
  apps/web/lib/supabase/auth.ts
  apps/web/lib/supabase/client.ts
  apps/web/lib/supabase/server.ts
  apps/web/middleware.ts
  apps/web/package.json
Due: eslint --fix --max-warnings=0, prettier --write

feat: 新增關於我們與物業列表頁面
  apps/web/app/about/page.tsx
  apps/web/app/properties/[id]/page.tsx
  apps/web/app/properties/page.tsx
  apps/web/public/images/property-1.jpg
  apps/web/public/images/property-2.jpg
  apps/web/public/images/property-3.jpg
  apps/web/public/images/team/member-1.jpg
  apps/web/public/images/team/member-2.jpg
  apps/web/public/images/team/member-3.jpg
Due: eslint --fix --max-warnings=0, prettier --write

feat: 新增服務項目與聯絡我們頁面
  apps/web/app/contact/page.tsx
  apps/web/app/services/page.tsx
  apps/web/public/images/contact-hero.jpg
  apps/web/public/images/services-hero.jpg
Due: eslint --fix --max-warnings=0, prettier --write

[Claude] feat(database): add 5 core tables for complete business workflow
  docs/database_schema_complete.md
  docs/database_verification_checklist.md
  docs/deployment_report_2026-01-31.md
  supabase/migrations/20260131000001_missing_core_tables.sql
Due: prettier --write

feat: Integrate Property APIs with Supabase and Mock Fallback
  apps/web/.backup/old-homepage/Header.tsx
  apps/web/.backup/old-homepage/globals.css
  apps/web/.backup/old-homepage/page.tsx
  apps/web/.backup/old-homepage/sections/CTA.tsx
  apps/web/.backup/old-homepage/sections/FeaturedProperties.tsx
  apps/web/.backup/old-homepage/sections/Features.tsx
  apps/web/.backup/old-homepage/sections/Footer.tsx
  apps/web/.backup/old-homepage/sections/HeroBanner.tsx
  apps/web/.backup/old-homepage/sections/PropertyCard.tsx
  apps/web/.backup/old-homepage/ui/Button.tsx
  apps/web/.backup/old-homepage/ui/Card.tsx
  apps/web/.backup/old-homepage/ui/Icon.tsx
  apps/web/.backup/old-homepage/ui/Input.tsx
  apps/web/.backup/old-homepage/ui/Text.tsx
  apps/web/app/debug/db-check/page.tsx
  apps/web/app/page.tsx
  apps/web/app/properties/PropertiesClient.tsx
  apps/web/app/properties/[id]/page.tsx
  apps/web/app/properties/page.tsx
  apps/web/app/test/page.tsx
  apps/web/app/test/responsive/page.tsx
  apps/web/components/sections/FeaturedProperties.tsx
  apps/web/hooks/useAuth.ts
  apps/web/hooks/useRequireAuth.ts
  apps/web/lib/api/properties.ts
  apps/web/lib/validators/auth.ts
  apps/web/next.config.ts
  apps/web/scripts/seed.js
  apps/web/tailwind.config.ts
  apps/web/types/auth.ts
  apps/web/types/database.ts
  apps/web/認證系統快速啟動.md
Due: eslint --fix --max-warnings=0, prettier --write

[Claude] feat(auth): add auth pages (login/register), providers and React Query client
  apps/web/app/(auth)/layout.tsx
  apps/web/app/(auth)/login/page.tsx
  apps/web/app/(auth)/register/page.tsx
  apps/web/app/providers.tsx
  apps/web/lib/react-query/queryClient.ts
Due: eslint --fix --max-warnings=0, prettier --write

[Claude] feat(mobile): implement Phase 2 UI enhancements for document management
  apps/mobile/package.json
  apps/mobile/src/components/documents/DeleteConfirmDialog.tsx
  apps/mobile/src/components/documents/DocumentPreview.tsx
  apps/mobile/src/components/documents/DocumentUploader.tsx
  apps/mobile/src/components/documents/DocumentViewer.tsx
  apps/mobile/src/hooks/useDocumentUpload.ts
  apps/mobile/src/hooks/useImagePicker.ts
  apps/mobile/src/screens/dashboard/DocumentsScreen.tsx
  apps/mobile/src/types/documents.ts
  docs/progress-reports/PHASE2_IMPLEMENTATION_SUMMARY.md
  package-lock.json
Due: eslint --fix --max-warnings=0, prettier --write

[Gemini] chore: update .gitignore and app.json configuration
  .gitignore
  apps/mobile/app.json
Due: prettier --write

feat: implement unified authentication and mobile auth screens
  README.md
  apps/mobile/App.tsx
  apps/mobile/package.json
  apps/mobile/src/hooks/useAuth.ts
  apps/mobile/src/lib/supabase.ts
  apps/mobile/src/screens/auth/LoginScreen.tsx
  apps/mobile/src/screens/auth/RegisterScreen.tsx
  apps/mobile/src/screens/auth/WelcomeScreen.tsx
  apps/web/app/(auth)/login/page.tsx
  apps/web/app/api/auth/exchange-token/route.ts
  apps/web/app/api/auth/generate-transfer-token/route.ts
  apps/web/app/globals.css
  apps/web/components/layout/Header.module.css
  apps/web/components/sections/FeaturedProperties.module.css
  apps/web/components/sections/HeroSection.module.css
  apps/web/lib/auth/transfer-token.ts
  apps/web/package.json
  apps/web/postcss.config.mjs
  backend/ocr_service/src/ocr_engine/vlm.py
  docs/deployment-guides/開發環境檢測報告_2026-01-31.md
  package-lock.json
  supabase/migrations/20260201000001_create_transfer_tokens_table.sql
Due: eslint --fix --max-warnings=0, prettier --write

chore: update dev env docs and cleanup
  CLAUDE.md
  apps/mobile/.npm/_update-notifier-last-checked
  apps/mobile/App.test.tsx
  apps/mobile/App.tsx.backup
  apps/mobile/apps/mobile/package-lock.json
  apps/mobile/apps/mobile/package.json
  apps/mobile/package.json
  apps/mobile/src/Dashboard.tsx
  apps/mobile/src/lib/supabase.ts
  apps/mobile/src/screens/auth/LoginScreen.tsx
  apps/mobile/src/screens/auth/RegisterScreen.tsx
  apps/mobile/src/screens/auth/WelcomeScreen.tsx
  apps/mobile/start-web.sh
  apps/mobile/tailwind.config.js
  apps/web/app/page.tsx
  apps/web/components/layout/Header.module.css
  apps/web/components/layout/Header.tsx
  apps/web/lib/api/properties.ts
  apps/web/lib/supabase/server.ts
  docs/deployment-guides/mcp_server_setup_guide.md
  docs/deployment-guides/三階段進度檢測報告.md
  docs/deployment-guides/三階段部署說明.md
  docs/deployment-guides/本案開發環境快速啟動指南.md
  docs/deployment-guides/開發環境檢測報告_2026-01-31.md
  docs/progress-reports/2026-02-01_claude_code_environment_technical_report.md
  docs/reports/auth_test_report.md
  package-lock.json
  package.json
  quick-start.sh
  scripts/add_metadata_batch.py
  setup-phase-one.sh
  start-dev.sh
  turbo.json
Due: eslint --fix --max-warnings=0, prettier --write

[Claude] chore(git-hooks): implement AI collaboration automation with file compliance checks and work logs
  .husky/commit-msg
  .husky/post-commit
  .husky/pre-commit
  docs/progress-reports/2026-02-01_claude_code_environment_technical_report.md
  scripts/check-file-compliance.sh
  scripts/generate-work-log.sh
Due: prettier --write

[Claude] docs(technical-report): consolidate configuration scope to project level
  docs/progress-reports/2026-02-01_claude_code_environment_technical_report.md
Due: prettier --write

[Claude] docs(technical-report): add Plugin Marketplace detailed inspection section
  docs/progress-reports/2026-02-01_claude_code_environment_technical_report.md
Due: prettier --write

[Claude] docs(rules,reports): enhance frontend rules and clarify skills priority
  .claude/rules/backend/python-ocr.md
  .claude/rules/frontend/react-expo.md
  .claude/rules/general.md
  .claude/skills/python-security-scan/SKILL.md
  CLAUDE.md
  docs/progress-reports/2026-02-01_claude_code_environment_technical_report.md
  docs/progress-reports/資料庫進度報告/2026-02-01_asyncstorage_supabase_architecture.md
Due: prettier --write

[Claude] fix(auth): 修復登錄/註冊功能並新增密碼管理功能
  apps/web/app/(auth)/forgot-password/page.tsx
  apps/web/app/(auth)/login/page.tsx
  apps/web/app/(auth)/reset-password/page.tsx
  apps/web/package.json
  docs/deployment-guides/quick-start-guide.md
  docs/progress-reports/2026-02-03_authentication_fixes.md
  package-lock.json
Due: eslint --fix --max-warnings=0, prettier --write

[Claude] chore: 清理錯誤創建的 forgot-password 頁面
  apps/web/app/forgot-password/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

[Claude] fix(auth): 重大認證系統修復 - 密碼重設、註冊流程與自動修復
  apps/web/app/(auth)/login/page.tsx
  apps/web/app/(auth)/update-password/page.tsx
  apps/web/app/actions/auth.ts
  apps/web/app/auth/callback/route.ts
  apps/web/docs/auth-redesign-proposal.md
  apps/web/lib/supabase/auth.ts
Due: eslint --fix --max-warnings=0, prettier --write

[Claude] chore: 清理舊的 reset-password 頁面
  apps/web/app/(auth)/reset-password/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  prettier --write: (((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.css)) or (any of: *.{html,vue,svelte})
