Repository jason660519/Owner-Property-Management-AI-SPA: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

feat(superadmin): middleware-level /api/* defense-in-depth auth gate (#34 PR F)
  apps/superadmin/lib/middleware/__tests__/api-auth-matcher.test.ts
  apps/superadmin/lib/middleware/api-auth-matcher.ts
  apps/superadmin/middleware.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(superadmin): guard 7 misc admin-client routes behind superadmin session (#34 PR D)
  apps/superadmin/app/api/dev-tasks/[id]/__tests__/route.test.ts
  apps/superadmin/app/api/dev-tasks/[id]/route.ts
  apps/superadmin/app/api/dev-tasks/__tests__/route.test.ts
  apps/superadmin/app/api/dev-tasks/route.ts
  apps/superadmin/app/api/documents/upload-condition-pdf/__tests__/route.test.ts
  apps/superadmin/app/api/documents/upload-condition-pdf/route.ts
  apps/superadmin/app/api/property-description/prompt-config/route.test.ts
  apps/superadmin/app/api/property-description/prompt-config/route.ts
  apps/superadmin/app/api/system-health/__tests__/route.test.ts
  apps/superadmin/app/api/system-health/route.ts
  apps/superadmin/app/api/transcript-parse/jobs/[id]/__tests__/route.test.ts
  apps/superadmin/app/api/transcript-parse/jobs/[id]/route.ts
  apps/superadmin/app/api/transcript-parse/local/__tests__/route.test.ts
  apps/superadmin/app/api/transcript-parse/local/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

refactor(superadmin): consolidate es-gateway::requireSuperAdmin into lib/auth::requireSuperadmin (#34 PR E)
  apps/superadmin/app/api/people-db/dataset-tree/route.ts
  apps/superadmin/app/api/people-db/datasets/metadata/bulk/route.ts
  apps/superadmin/app/api/people-db/datasets/metadata/route.ts
  apps/superadmin/app/api/people-db/datasets/route.ts
  apps/superadmin/app/api/people-db/import/jobs/[id]/process/route.ts
  apps/superadmin/app/api/people-db/import/jobs/[id]/route.ts
  apps/superadmin/app/api/people-db/import/jobs/route.ts
  apps/superadmin/app/api/people-db/import/preview/route.ts
  apps/superadmin/app/api/people-db/import/submit/route.ts
  apps/superadmin/app/api/people-db/ingest/files/route.ts
  apps/superadmin/app/api/people-db/ingest/retry/[fileId]/__tests__/route.test.ts
  apps/superadmin/app/api/people-db/ingest/retry/[fileId]/route.ts
  apps/superadmin/app/api/people-db/ingest/runs/route.ts
  apps/superadmin/app/api/people-db/ingest/stage-counts/route.ts
  apps/superadmin/app/api/people-db/merge-candidates/[id]/confirm/route.ts
  apps/superadmin/app/api/people-db/merge-candidates/[id]/reject/route.ts
  apps/superadmin/app/api/people-db/merge-candidates/__tests__/route.test.ts
  apps/superadmin/app/api/people-db/merge-candidates/route.ts
  apps/superadmin/app/api/people-db/person/[recordId]/route.ts
  apps/superadmin/app/api/people-db/related/route.ts
  apps/superadmin/app/api/people-db/search/__tests__/route-group-by.test.ts
  apps/superadmin/app/api/people-db/search/route.ts
  apps/superadmin/app/api/people-db/stats/route.ts
  apps/superadmin/lib/people-db/es-gateway.ts
Due: eslint --fix --max-warnings=0, prettier --write

refactor(superadmin): consolidate people-db pages into 5-tab workspace (Row 146 Step 1+2)
  apps/superadmin/app/data/roadmap.ts
  apps/superadmin/app/superadmin/settings/people-database/page.test.tsx
  apps/superadmin/app/superadmin/settings/people-database/page.tsx
  apps/superadmin/app/superadmin/settings/people-database/sources/page.tsx
  apps/superadmin/app/superadmin/tools/page.test.tsx
  apps/superadmin/app/superadmin/tools/page.tsx
  apps/superadmin/components/layout/nav-items.ts
  project-process/dev-logs/dev-people-db-workspace-consolidation-2026-04-19.md
Due: eslint --fix --max-warnings=0, prettier --write

feat(superadmin): force dataset_root on people-db import (Row 146 Step 3)
  apps/superadmin/app/api/people-db/import/jobs/__tests__/dataset-root-required.test.ts
  apps/superadmin/app/api/people-db/import/jobs/route.ts
  apps/superadmin/app/api/people-db/import/submit/__tests__/dataset-root-required.test.ts
  apps/superadmin/app/api/people-db/import/submit/route.ts
  apps/superadmin/app/data/roadmap.ts
  apps/superadmin/app/superadmin/settings/people-database/import/__tests__/dataset-root-required.test.tsx
  apps/superadmin/app/superadmin/settings/people-database/import/page.tsx
  project-process/dev-logs/dev-people-db-workspace-consolidation-2026-04-19.md
Due: eslint --fix --max-warnings=0, prettier --write

feat(superadmin): default search scope to all + colored dataset badges (Row 146 Step 4)
  apps/superadmin/app/data/roadmap.ts
  apps/superadmin/app/superadmin/settings/people-database/search/__tests__/scope-and-color.test.tsx
  apps/superadmin/app/superadmin/settings/people-database/search/page.tsx
  apps/superadmin/components/people-database/DatasetBadge.tsx
  apps/superadmin/lib/people-db/__tests__/dataset-color.test.ts
  apps/superadmin/lib/people-db/dataset-color.ts
  project-process/dev-logs/dev-people-db-workspace-consolidation-2026-04-19.md
Due: eslint --fix --max-warnings=0, prettier --write

feat(superadmin): dataset color badges on merge-candidates + ingest (Row 146 Step 5+6)
  apps/superadmin/app/api/people-db/merge-candidates/__tests__/route.test.ts
  apps/superadmin/app/api/people-db/merge-candidates/route.ts
  apps/superadmin/app/data/roadmap.ts
  apps/superadmin/app/superadmin/settings/people-database/ingest/__tests__/IngestDashboard.test.tsx
  apps/superadmin/app/superadmin/settings/people-database/ingest/page.tsx
  apps/superadmin/app/superadmin/settings/people-database/merge-candidates/__tests__/MergeCandidatesPage.test.tsx
  apps/superadmin/app/superadmin/settings/people-database/merge-candidates/page.tsx
  project-process/dev-logs/dev-people-db-workspace-consolidation-2026-04-19.md
Due: eslint --fix --max-warnings=0, prettier --write

feat(people-db): streaming DBF/XLSX parsers + Postgres COPY staging (Sprint 2b)
  apps/superadmin/app/data/roadmap.ts
  apps/superadmin/lib/people-db/__tests__/staging-copy.test.ts
  apps/superadmin/lib/people-db/parsers/__tests__/dbf-stream.test.ts
  apps/superadmin/lib/people-db/parsers/__tests__/dispatch.test.ts
  apps/superadmin/lib/people-db/parsers/__tests__/streaming-types.test.ts
  apps/superadmin/lib/people-db/parsers/__tests__/xlsx-stream.test.ts
  apps/superadmin/lib/people-db/parsers/dbf-stream.ts
  apps/superadmin/lib/people-db/parsers/dbf.ts
  apps/superadmin/lib/people-db/parsers/index.ts
  apps/superadmin/lib/people-db/parsers/types.ts
  apps/superadmin/lib/people-db/parsers/xlsx-stream.ts
  apps/superadmin/lib/people-db/staging-copy.ts
  apps/superadmin/package.json
  apps/superadmin/types/pg-copy-streams.d.ts
  package-lock.json
  package.json
  patches/exceljs+4.4.0.patch
  tools/people-db/parse.ts
Due: eslint --fix --max-warnings=0, prettier --write

test(superadmin): e2e smoke for consolidated people-db workspace (Row 146 Step 7)
  apps/superadmin/app/data/roadmap.ts
  apps/superadmin/e2e/146/consolidated-flow.spec.ts
  apps/superadmin/test-manifest.json
  project-process/dev-logs/dev-people-db-workspace-consolidation-2026-04-19.md
Due: eslint --fix --max-warnings=0, prettier --write

docs(skills+guide): dual-output handoff rule, daily-report formatting, refresh progress guide
  .claude/commands/daily-report.md
  .claude/commands/handoff.md
  docs/update-project-progress-guide.md
Due: prettier --write

docs(row-145): Sprint 1-6 dev log summary + TDD report + Sprint 2b handoff + unit_test index
  apps/superadmin/unit_test/145/README.md
  project-process/dev-logs/145-development-log-summary.md
  project-process/handoffs/handoff-row-145-sprint-2b-20260419.md
  project-process/test-logs/test-people-db-bulk-ingestion-2026-04-19.md
Due: prettier --write

chore: remove dead OCR_SERVICE_URL integrations and ES management page
  apps/superadmin/app/api/elasticsearch/__tests__/route.test.ts
  apps/superadmin/app/api/elasticsearch/route.ts
  apps/superadmin/app/api/ocr/events/[batchId]/route.ts
  apps/superadmin/app/api/ocr/upload/route.ts
  apps/superadmin/app/data/roadmap.ts
  apps/superadmin/app/superadmin/dashboard/elasticsearch/__tests__/page.test.tsx
  apps/superadmin/app/superadmin/dashboard/elasticsearch/page.tsx
  apps/superadmin/components/ai-settings/SystemPromptEditor.tsx
  apps/superadmin/components/ai-settings/SystemPromptFileUpload.tsx
  apps/superadmin/components/ai-settings/__tests__/SystemPromptFileUpload.test.tsx
  apps/superadmin/components/layout/nav-items.ts
  apps/superadmin/e2e/007/elasticsearch-dashboard.spec.ts
  apps/superadmin/test-manifest.json
  apps/web/components/vlm/ParsedResultPreview.tsx
  apps/web/components/vlm/VLMApiKeyDrawer.tsx
  apps/web/components/vlm/VLMDocumentUpload.tsx
  apps/web/hooks/useVLMKeyManager.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(people-db): Sprint 2b Task F — real-data validation + NUL fix (Row 145)
  apps/superadmin/lib/people-db/__tests__/staging-copy.test.ts
  apps/superadmin/lib/people-db/staging-copy.ts
  apps/superadmin/package.json
  apps/superadmin/test-manifest.json
  apps/web-au/package.json
  apps/web/package.json
  package-lock.json
  project-process/dev-logs/dev-people-db-bulk-ingestion-sprint-2b-2026-04-20.md
  tools/people-db/sprint-2b-validate.ts
Due: eslint --fix --max-warnings=0, prettier --write

docs(row-145): append Sprint 2b Task F results to devLog (percentage 98→99)
  apps/superadmin/app/data/roadmap.ts
Due: eslint --fix --max-warnings=0, prettier --write

docs(rules): document Node 25 + tsx barrel import crash + workarounds
  .claude/rules/critical-deps.md
  CLAUDE.md
Due: prettier --write

feat(people-db): tsc build pipeline for CLI workers (Row 145 Sprint 7 #2)
  apps/superadmin/lib/people-db/pdf-parse.ts
  package.json
  tools/people-db/ingest.ts
  tools/people-db/normalize.ts
  tools/people-db/parse.ts
  tools/people-db/reindex.ts
  tools/people-db/resolve.ts
  tools/people-db/scan.ts
  tools/people-db/tsconfig.cli.json
Due: eslint --fix --max-warnings=0, prettier --write

docs(row-145): append Sprint 7 Step 2 (tsc build pipeline) to devLog
  apps/superadmin/app/data/roadmap.ts
Due: eslint --fix --max-warnings=0, prettier --write

docs(handoff): Row 145 Sprint 7 Step 3+ handoff for next session
  project-process/handoffs/handoff-row-145-sprint-7-step3-20260420.md
Due: prettier --write

docs(handoff): enforce handoff skill invocation + session-end rule
  .claude/commands/handoff.md
  .claude/rules/general.md
Due: prettier --write

chore: add --cleanup flag to /commit-push-pr skill for post-merge branch deletion
  .claude/commands/commit-push-pr.md
Due: prettier --write

docs(dev-log): add 2026-04-20 OCR_SERVICE_URL cleanup dev log
  project-process/dev-logs/dev-ocr-service-url-cleanup-2026-04-20.md
Due: prettier --write

docs(handoff): add Full-Auto minimum-output mode section for /commit-push-pr --full-auto
  .claude/commands/handoff.md
Due: prettier --write

docs: 修正 commit-push-pr 指令文件 markdownlint 警告
  .claude/commands/commit-push-pr.md
Due: prettier --write

docs(commands): 新增 /wrap-up 編排器整合 session 收尾流程
  .claude/commands/commit-push-pr-merge-clanup-handoff.md
  .claude/commands/commit-push-pr.md
  .claude/commands/daily-report.md
  .claude/commands/handoff.md
  .claude/commands/wrap-up.md
  project-process/dev-logs/dev-claude-commands-wrap-up-2026-04-20.md
Due: prettier --write

docs(handoff): /wrap-up 自我試跑 handoff（gh 認證阻塞）
  project-process/handoffs/handoff-claude-commands-wrap-up-20260420.md
Due: prettier --write

docs(commands): 新增 /wrap-up 編排器整合 session 收尾流程 (#57)
  .claude/commands/commit-push-pr-merge-clanup-handoff.md
  .claude/commands/commit-push-pr.md
  .claude/commands/daily-report.md
  .claude/commands/handoff.md
  .claude/commands/wrap-up.md
  project-process/dev-logs/dev-claude-commands-wrap-up-2026-04-20.md
  project-process/handoffs/handoff-claude-commands-wrap-up-20260420.md
Due: prettier --write

chore(commands): 修正 clanup → cleanup typo 並補 squash merge 註記
  .claude/commands/commit-push-pr-merge-cleanup-handoff.md
  .claude/commands/commit-push-pr.md
  .claude/commands/wrap-up.md
  project-process/dev-logs/dev-claude-commands-wrap-up-2026-04-20.md
  project-process/handoffs/handoff-claude-commands-wrap-up-20260420.md
Due: prettier --write

chore(commands): 修正 clanup → cleanup typo 並補 squash merge 註記 (#58)
  .claude/commands/commit-push-pr-merge-cleanup-handoff.md
  .claude/commands/commit-push-pr.md
  .claude/commands/wrap-up.md
  project-process/dev-logs/dev-claude-commands-wrap-up-2026-04-20.md
  project-process/handoffs/handoff-claude-commands-wrap-up-20260420.md
Due: prettier --write

docs(commands): 補 squash merge 後 git branch -d 踩雷註記
  .claude/commands/commit-push-pr-merge-cleanup-handoff.md
Due: prettier --write

docs(commands): 補 squash merge 後 git branch -d 踩雷註記 (#59)
  .claude/commands/commit-push-pr-merge-cleanup-handoff.md
Due: prettier --write

chore(security): 加 pre-commit secret scanner 阻擋 .env 檔與真實 API key
  .husky/pre-commit
  tools/security/check-staged-secrets.sh
Due: none

chore(security): 加 pre-commit secret scanner 阻擋 .env 檔與真實 API key (#60)
  .husky/pre-commit
  tools/security/check-staged-secrets.sh
Due: none

docs(commands): 修正 handoff 指令文案中的 skill 殘留語意
  .claude/commands/handoff.md
Due: prettier --write

feat(ai-settings): Row 100 HTTP adapter 比較與純 CLI/HTTP 降級鏈
  .claude/commands/commit-push-pr.md
  .claude/rules/backend/ai-adapter.md
  apps/superadmin/app/api/ai-settings/adapter-runs/route.ts
  apps/superadmin/app/api/ai-settings/models/test/route.ts
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/__tests__/adapter-evaluation.test.ts
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/__tests__/settings-persist.test.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/adapter-config-columns.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/adapter-evaluation.ts
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/model-router-columns.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/page.tsx
  apps/superadmin/components/ai-settings/ApiKeyManager.tsx
  apps/superadmin/lib/__tests__/adapter-config-fallback-models.test.ts
  apps/superadmin/lib/adapter-config.ts
  apps/superadmin/lib/adapter-runs/__tests__/adapter-run-meta-lines.test.ts
  apps/superadmin/lib/adapter-runs/__tests__/extract-chat-completion-text.test.ts
  apps/superadmin/lib/adapter-runs/__tests__/extract-openai-responses-text.test.ts
  apps/superadmin/lib/adapter-runs/adapter-run-meta-lines.ts
  apps/superadmin/lib/adapter-runs/extract-chat-completion-text.ts
  apps/superadmin/lib/adapter-runs/extract-openai-responses-text.ts
  apps/superadmin/lib/ai-key-validation/__tests__/kilo-opencode-zen.test.ts
  apps/superadmin/lib/ai-key-validation/kilo-opencode-zen.ts
  project-process/handoffs/handoff-row-100-http-adapter-20260421.md
  tools/testing/lint-adapter-model-ids.sh
Due: eslint --fix --max-warnings=0, prettier --write

feat(ai-settings): Row 100 HTTP adapter 比較與純 CLI/HTTP 降級鏈 (#61)
  .claude/commands/commit-push-pr.md
  .claude/rules/backend/ai-adapter.md
  apps/superadmin/app/api/ai-settings/adapter-runs/route.ts
  apps/superadmin/app/api/ai-settings/models/test/route.ts
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/__tests__/adapter-evaluation.test.ts
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/__tests__/settings-persist.test.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/adapter-config-columns.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/adapter-evaluation.ts
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/model-router-columns.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/page.tsx
  apps/superadmin/components/ai-settings/ApiKeyManager.tsx
  apps/superadmin/lib/__tests__/adapter-config-fallback-models.test.ts
  apps/superadmin/lib/adapter-config.ts
  apps/superadmin/lib/adapter-runs/__tests__/adapter-run-meta-lines.test.ts
  apps/superadmin/lib/adapter-runs/__tests__/extract-chat-completion-text.test.ts
  apps/superadmin/lib/adapter-runs/__tests__/extract-openai-responses-text.test.ts
  apps/superadmin/lib/adapter-runs/adapter-run-meta-lines.ts
  apps/superadmin/lib/adapter-runs/extract-chat-completion-text.ts
  apps/superadmin/lib/adapter-runs/extract-openai-responses-text.ts
  apps/superadmin/lib/ai-key-validation/__tests__/kilo-opencode-zen.test.ts
  apps/superadmin/lib/ai-key-validation/kilo-opencode-zen.ts
  project-process/handoffs/handoff-row-100-http-adapter-20260421.md
  tools/testing/lint-adapter-model-ids.sh
Due: eslint --fix --max-warnings=0, prettier --write

docs(handoff): 補 Row 100 CLI/HTTP fallback chain session 接手紀錄
  project-process/handoffs/handoff-row-100-fallback-chain-20260421.md
Due: prettier --write

AI 設定頁：新增全域評測表並強化表格工具
  .claude/skills/create-tanstack-table/SKILL.md
  .claude/skills/create-tanstack-table/references/bottom-sheet-tabs.md
  .claude/skills/create-tanstack-table/references/enhanced-table-props.md
  .claude/skills/create-tanstack-table/references/troubleshooting.md
  apps/superadmin/app/globals.css
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/EvaluationsGlobalPanel.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/__tests__/evaluations-global-from-adapters.test.ts
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/adapter-config-columns.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/evaluations-global-columns.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/evaluations-global-from-adapters.ts
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/page.tsx
  apps/superadmin/components/ai-settings/ModelEvaluator.tsx
  apps/superadmin/components/layout/DashboardHeader.test.tsx
  apps/superadmin/components/ui/EnhancedTable.tsx
  apps/web/app/(dashboard)/landlord/maintenance/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

新增 Adapter 測試歷史紀錄（DB + API + UI）
  .claude/skills/create-tanstack-table/SKILL.md
  .claude/skills/create-tanstack-table/references/bottom-sheet-tabs.md
  .claude/skills/create-tanstack-table/references/troubleshooting.md
  apps/superadmin/app/api/ai-settings/adapter-evaluation-runs/__tests__/route.test.ts
  apps/superadmin/app/api/ai-settings/adapter-evaluation-runs/route.ts
  apps/superadmin/app/api/ai-settings/adapter-runs/route.ts
  apps/superadmin/app/data/roadmap.ts
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/EvaluationsGlobalPanel.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/__tests__/evaluations-global-merge-db.test.ts
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/adapter-evaluation-runs-types.ts
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/evaluations-global-columns.tsx
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/evaluations-global-merge-db.ts
  apps/superadmin/app/superadmin/settings/api_key_and_model_setting/page.tsx
  apps/superadmin/lib/adapter-evaluation-runs/insert-adapter-evaluation-run.ts
  apps/superadmin/lib/hooks/useAISettings.ts
  apps/superadmin/lib/middleware/__tests__/api-auth-matcher.test.ts
  apps/superadmin/lib/middleware/api-auth-matcher.ts
  packages/shared-types/database.ts
  supabase/migrations/20260421140000_create_adapter_evaluation_runs.sql
Due: eslint --fix --max-warnings=0, prettier --write

移除 Hermes runtime，更新 Paperclip adapter fallback
  .github/CODEOWNERS
  .gitignore
  AGENTS.md
  CLAUDE.md
  HERMES.md
  apps/superadmin/app/data/roadmap.ts
  apps/superadmin/app/superadmin/dashboard/project-progress/components/SheetTabs.tsx
  apps/superadmin/app/superadmin/dashboard/project-progress/components/development-table/types.ts
  apps/superadmin/config/file-manager.rules.json
  apps/superadmin/lib/paperclip/__tests__/adapter-fallback.test.ts
  apps/superadmin/lib/paperclip/adapter-fallback.ts
  apps/superadmin/lib/paperclip/adapter-models.ts
  apps/superadmin/test-manifest.json
  project-process/dev-logs/dev-people-db-bulk-ingestion-sprint-2-and-5-2026-04-19.md
  project-process/features/people-db-bulk-ingestion-dev-spec-20260418.md
  start.sh
  tools/hermes-runtime/Dockerfile
  tools/hermes-runtime/bootstrap-env.sh
  tools/hermes-runtime/docker-compose.yml
  tools/hermes-runtime/start-hermes.sh
  tools/hermes-runtime/update-telegram-allowlist.sh
Due: eslint --fix --max-warnings=0, prettier --write

docs: 新增 agent-team 相關設計文件與策略一頁書
  docs/agent-team/agent-team-blueprint-v1.md
  docs/agent-team/agent-team-strategy-one-pager.md
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  prettier --write: (((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.css)) or (any of: *.{html,vue,svelte})
